<%= turbo_frame_tag question, class: "question" do %>
  <%= turbo_frame_tag dom_id(question, :edit) do %>
    <div class="
      question__header
      flex items-start flex-col
      space-col-4 grid-cols-12
      md:items-center md:flex-row md:space-row-4
    ">
      <p class="question__body">
        <%= question.body %>
      </p>

      <div class="
        question__actions
        p-2
        flex items-start flex-col
        space-col-4 grid-cols-12
        md:items-center md:flex-row md:space-row-4
      ">
        <%= link_to "Edit",
              edit_author_poll_question_path(poll, question),
              class: "button secondary" %>
        <%= button_to "Delete",
              author_poll_question_path(poll, question),
              method: :delete,
              form: {data: {turbo_confirm: "Are you sure?"}},
              class: "button transparent" %>
      </div>
    </div>
  <% end %>
  <div class="question__answers section-content">
    <%= turbo_frame_tag nested_dom_id(question, "answers"), class: "py-gap-collapse" do %><%= render question.answers, poll: poll, question: question %><% end %>

    <%= turbo_frame_tag nested_dom_id(question, Polls::Answer.new), class: "py-gap-collapse" %>

    <div class="question__footer">
      <%= link_to "+ New answer",
            new_author_poll_question_answer_path(poll, question),
            data: {turbo_frame: nested_dom_id(question, Polls::Answer.new)},
            class: "button primary" %>
    </div>
  </div>
<% end %>
