
<%= render Pages::Header.new(title: "Polls") %>
<div class="section-content container py-gap mb-3xl">
  <div class="header">
    <%= link_to "New poll",
          new_author_poll_path,
          class: "button primary" %>
  </div>

  <%= turbo_frame_tag "polls" do %>
    <%= render "author/polls/empty_state" %>
    <%= render @polls %>
  <% end %>
</div>
