<%= form_with(
  model: snippet,
  class: "grid-content",
  data: { controller: "snippet-preview", action: "snippet-editor:changed->snippet-preview#preview" }
) do |form| %>
  <% if snippet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
        <% snippet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex items-start flex-col space-col-4 md:items-center md:flex-row md:space-row-4">
    <fieldset>
      <%= form.label :language, class: "sr-only" %>
      <%= form.select :language, [["Auto", "auto"]] + Rouge::Lexer.all.map { |lexer| [lexer.title, lexer.tag] },
          {},
          class: "flex-1 rounded bg-white/5 focus-ring focus:ring-0 ring-1 ring-inset ring-white/10 w-full lg:min-w-[36ch]",
          data: { action: "change->snippet-preview#preview" } %>
    </fieldset>
  </div>

  <%= turbo_frame_tag dom_id(snippet, :code_block), class: "snippet-frame grid-cols-12" do %>
    <%= render snippet %>
  <% end %>

  <fieldset>
    <%= form.submit class: "button primary" %>
    <%= form.submit "Preview", class: "button secondary hidden",
      formaction: (snippet.persisted? ? edit_snippet_path(snippet) : new_snippet_path),
      formmethod: "get",
      formnovalidate: true,
      data: {
        snippet_preview_target: "previewButton",
        turbo_frame: dom_id(snippet, :code_block)
      } %>
  </fieldset>
<% end %>

<div class="grid-content">
</div>
