<%= render Pages::Header.new(title: "Snippets") %>
<div id="snippets" class="section-content container py-gap">
  <div class="flex">
    <%= link_to "New snippet", new_snippet_path, class: "button primary" %>
  </div>

  <% @snippets.each do |snippet| %>
    <%= link_to snippet, class: "block" do %>
      <% if snippet.screenshot.attached? %>
        <%= image_tag snippet.screenshot %>
      <% else %>
        <%= render CodeBlock::Snippet.new(snippet) %>
      <% end %>
    <% end %>
  <% end %>
</div>
