---
title: Joy of Rails
---

<section>
  <%= render PageHeader.new(description: "Learn how to build web applications with Ruby on Rails") do |header| %>
    <% header.title do %>
      Experience the <span class="emphasis">Joy of Rails</span>
    <% end %>
  <% end %>
  <section style="min-height: 51vh">
    <div class="main-content container">
      <h2>Recently published</h2>
      <% ArticlePage.published.each do |page| %>
        <article class="content-grid">
          <h3>
            <%= link_to_page page do %>
              <%= page.title %>
            <% end %>
          </h3>
          <div>
            <%= page.description %>
          </div>
        </article>
      <% end %>
    </div>
  </section>
</section>
<section><%= render "newsletter/banner" %></section>
