---
title: Progressive Web Apps on Rails Showcase
layout: showcase
---
<section class="pwa:hidden">
  <h2 class="anchor text-xl text-theme-text font-bold mb-2">How to use this resource</h2>
  <p>
    The site you are currently visiting is a itself Progressive Web Apps built with Rails.
  </p>
  <p>
    Joy of Rails is a Progressive Web App. You can start testing the features by installing the site as an app to your homescreen of your mobile app or on your desktop.
  </p>
  <div data-controller="pwa-installation">
    <button
      data-pwa-installation-target="installButton"
      data-action="click->pwa-installation#install"
      class="button primary hidden">
      <%= inline_svg_tag "install-app.svg", class: "w-[24px] mr-1", aria_hidden: true %>
      Install to Homescreen
    </button>
    <%= link_to pwa_installation_instructions_path,
      class: "button primary hidden",
      data: {
        pwa_installation_target: "infoButton",
        action: "click->pwa-installation#openDialog",
        turbo_frame: "pwa_installation_instructions"
      } do %>
      <%= inline_svg_tag "install-app.svg", class: "w-[24px] mr-1", aria_hidden: true %>
      Install to Homescreen
    <% end %>
    <dialog data-pwa-installation-target="dialog" data-action="click->pwa-installation#clickOutside" class="p-4">
      <%= turbo_frame_tag "pwa_installation_instructions" %>
      <a data-action="click->pwa-installation#closeDialog" href="#" class="button subtle">Close</a>
    </dialog>
  </div>

  <h2 class="anchor text-xl text-theme-text font-bold mb-2">Features</h2>

  <div class="grid grid-cols-3 gap-4">
    <div>
      <h3 class="text-lg font-bold mb-2">Push Notifications</h3>
      <p>
        <%= render "components/pwa/web_push_subscribe_demo" %>
      </p>
    </div>
  </div>
</section>
