<% set_meta_tags(
     title: current_page.data.title!,
     description: current_page.data.description,
     keywords: %w[rails hotwire],
     og: {
       type: "article",
       url: current_page.url,
       image: current_page.data.meta_image && asset_url(current_page.data.meta_image)
     },
     twitter: {
       card: "summary"
     }
   ) %>
<%= render "application/skip_to_content" %>
<%= render_layout "application" do %>
  <article itemscope itemtype="http://schema.org/Article" class="mb-3xl">
    <%= render Pages::Header.new(
          title: current_page.data.title!,
          description: current_page.data.description,
          published_on: current_page.data.published&.to_date,
          updated_on: current_page.data.updated&.to_date
        ) %>
    <%- if current_page.data.toc -%>
      <aside>
        <h2 class="font-semibold mb-4 text-sm leading-6 uppercase tracking-widest">Table of Contents</h2>
        <!-- Disable Turbolinks for same-page Table of Contents navigation
        -->
        <nav
          data-controller="table-of-contents"
          data-turbo="false"
          class="toc">
          <%= render_toc(current_page) %>
        </nav>
      </aside>
    <%- end -%>
    <div class="article-content container" itemprop="articleBody">
      <%= yield %>
    </div>
    <% if @page.topics.any? %>
      <section id="article-topics" class="section-content container">
        <%= render Pages::Topics.new(topics: @page.topics.pluck(:slug)) %>
      </section>
    <% end %>
  </article>
  <section id="newsletter-signup">
    <%= render "users/newsletter_subscriptions/banner" %>
  </section>
<% end %>

<% if current_page.data.enable_twitter_widgets %>
<%= javascript_include_tag "https://platform.twitter.com/widgets.js", charset: "utf-8", async: true %>
<% end %>
