<% header_classes remove: "bg-joy-bg-1" %>

<%= render "application/skip_to_content" %>
<%= render_layout "application" do %>
  <header class="page-title bg-joy-bg-2 relative">
    <div class="h-16 bg-joy-bg-2 sticky top-0 z-[9]"></div>
    <div class="h-16 bg-joy-bg-2 absolute top-0 z-[8] -mt-16 w-full"></div>
    <div class="container mt-10 lg:mt-12 md:mt-8">
      <h1
        class="
          text-joy-header-1 font-extrabold text-3xl lg:text-5xl sm:text-4xl leading-tighter
          lg:mb-10 mb-8
        ">
        <%= current_page.data.title! %>
      </h1>
    </div>
  </header>
  <section class="bg-joy-bg-1">
    <div class="h-16 bg-joy-bg-1 sticky top-0 z-[9]"></div>
    <div class="container lg:mt-12 md:mt-8">
      <div id="start-here" class="anchor sr-only"></div>
      <div class="<%= class_names("article-container", "with-aside", { "with-table-of-contents": current_page.data.toc }) %>">
        <%- if current_page.data.toc -%>
          <aside
            class="
              hidden lg:block lg:sticky lg:self-start lg:flex-1 ml-16 mt-1 top-[114px]
            ">
            <h2 class="font-semibold mb-4 text-sm leading-6 uppercase tracking-widest">Table of Contents</h2>
            <!-- Disable Turbolinks for same-page Table of Contents navigation
            -->
            <nav
              data-controller="table-of-contents"
              data-turbo="false"
              class="toc text-sm leading-6 text-gray-text">
              <ul>
                <li><a href="#introduction">Introduction</a></li>
              </ul>
              <%= render_toc(current_page) %>
            </nav>
          </aside>
        <%- end -%>
        <article
          class="article prose dark:prose-invert sm:prose-lg lg:prose-xl">
          <h2
            id="introduction"
            class="
              anchor not-prose h-px opacity-0 select-none pointer-events-none
            ">Introduction</h2>
          <%= yield %>
        </article>
      </div>
      <div class="anchor mt-8">
        <%= link_to "Back to top",
        "#",
        class:
          "text-primary-content button subtle inline-block" %>
      </div>
    </div>
  </section>
  <section class="container mt-16">
    <%= render "newsletter/banner" %>
  </section>
<% end %>
