<% content_for :top do %>
  <%= link_to "Skip to content",
  "#start-here",
  class:
    "transition left-0 bg-primary text-primary-content absolute p-3 m-3 -translate-y-16 focus:translate-y-0 z-20" %>
<% end %>
<%= render_layout "application" do %>
  <section class="container">
    <div class="mx-auto mt-10 mb-96 lg:mt-24 md:mt-20 ">
      <header class="max-w-screen-md">
        <h1
          class="
            w-full max-w-screen-md mb-8 text-3xl font-extrabold lg:text-5xl sm:text-4xl
            lg:mb-10 leading-tighter
          "
        >
          <%= current_page.data["title"] %>
        </h1>
      </header>
      <div class="flex flex-row-reverse">
        <div id="start-here" class="anchor sr-only"></div>
        <aside class="sticky self-start flex-auto ml-20 " style="top: 100px">
          <h2 class="font-semibold mb-4 text-sm leading-6 uppercase tracking-wide ">Table of Contents</h2>
          <!-- Disable Turbolinks for same-page Table of Contents navigation
          -->
          <nav
            data-turbo="false"
            class="toc text-slate-800 dark:text-slate-400 text-sm leading-6"
          >
            <ul>
              <li><a href="#introduction">Introduction</a></li>
            </ul>
            <%= render_toc(current_page) %>
          </nav>

        </aside>
        <article
          class="
            max-w-screen-md prose dark:prose-invert sm:prose-lg lg:prose-xl max-w-none
            dark:prose-a:text-blue-300 prose-a:text-blue-500
          "
        >
          <div id="introduction" class="anchor not-prose">
            <h2 class="h-px opacity-0 overflow-hidden select-none pointer-events-none">Introduction</h2>
          </div>
          <%= yield %>
        </article>
      </div>
    </div>
  </section>
<% end %>
