<%= render "application/skip_to_content" %>
<%= render_layout "application" do %>
  <article itemscope itemtype="http://schema.org/Article">
    <%= render Pages::Header.new(
      title: current_page.data.title!,
      description: current_page.data.description,
      published_on: current_page.data.published&.to_date,
      updated_on: current_page.data.updated&.to_date
    ) %>
    <%- if current_page.data.toc -%>
      <aside>
        <h2 class="font-semibold mb-4 text-sm leading-6 uppercase tracking-widest">Table of Contents</h2>
        <!-- Disable Turbolinks for same-page Table of Contents navigation
        -->
        <nav
          data-controller="table-of-contents"
          data-turbo="false"
          class="toc">
          <%= render_toc(current_page) %>
        </nav>
      </aside>
    <%- end -%>
    <div class="article-content container">
      <%= yield %>
    </div>
  </article>
  <section id="newsletter-signup">
    <%= render "users/newsletter_subscriptions/banner" %>
  </section>
<% end %>
