<% header_classes "" %>
<% body_classes "bg-background" %>
<% footer_classes "bg-accent-bg" %>
<%= render "application/skip_to_content" %>
<%= render_layout "application" do %>
  <header class="page-title bg-accent-bg relative">
    <div class="h-16 bg-accent-bg sticky top-0 z-[9]"></div>
    <div class="h-16 bg-accent-bg absolute top-0 z-[8] -mt-16 w-full"></div>
    <div class="container mt-10 lg:mt-12 md:mt-8">
      <h1
        class="
          text-accent-text font-extrabold text-3xl lg:text-5xl sm:text-4xl leading-tighter
          lg:mb-10 mb-8
        "
      >
        <%= current_page.data["title"] %>
      </h1>
    </div>
  </header>
  <section class="bg-background">
    <div class="h-16 bg-background sticky top-0 z-[9]"></div>
    <div class="container lg:mt-24 md:mt-20">
      <div id="start-here" class="anchor sr-only"></div>
      <div class="lg:flex lg:flex-row-reverse">
        <aside
          class="hidden lg:block lg:sticky lg:self-start lg:flex-auto ml-20"
          style="top: 100px"
        >
          <h2 class="font-semibold mb-4 text-sm leading-6 uppercase tracking-widest">Table of Contents</h2>
          <!-- Disable Turbolinks for same-page Table of Contents navigation
          -->
          <nav data-turbo="false" class="toc text-sm leading-6 text-gray-text">
            <ul>
              <li><a href="#introduction">Introduction</a></li>
            </ul>
            <%= render_toc(current_page) %>
          </nav>
        </aside>
        <article class="max-w-screen-md">
          <div id="introduction" class="anchor not-prose">
            <h2 class="h-px opacity-0 overflow-hidden select-none pointer-events-none">Introduction</h2>
          </div>
          <div class="prose dark:prose-invert sm:prose-lg lg:prose-xl">
            <%= yield %>
          </div>
        </article>
      </div>
      <div class="anchor">
        <%= link_to "Back to top",
        "#",
        class:
          "text-primary-content rounded transition p-3 -translate-y-4 z-20 lg:-translate-y-8 right-4 lg:right-8 rounded-box" %>
      </div>
    </div>
  </section>
<% end %>
