<% header_classes remove: "bg-joy-bg-1" %>
<%= render "application/skip_to_content" %>
<%= render_layout redesign_layout do %>
  <header class="page-title bg-joy-bg-2 relative">
    <div class="h-16 bg-joy-bg-2 sticky top-0 z-[9]"></div>
    <div class="h-16 bg-joy-bg-2 absolute top-0 z-[8] -mt-16 w-full"></div>
    <div class="container mt-10 lg:mt-12 md:mt-8">
      <h1
        class="
          text-joy-text font-extrabold text-5xl lg:text-8xl leading-tighter
          lg:mb-10 mb-8
        ">
        <%= current_page.data["title"] %>
      </h1>
    </div>
  </header>
  <section class="bg-joy-bg-1">
    <div class="h-16 bg-joy-bg-1 sticky top-0 z-[9]"></div>
    <div class="container">
      <div id="start-here" class="anchor sr-only"></div>
      <%= yield %>
      <div class="anchor mt-8">
        <%= link_to "Back to top",
        "#",
        class:
          "text-primary-content button subtle inline-block" %>
      </div>
    </div>
  </section>
  <section class="container mt-16">
    <%= render "newsletter/banner" %>
  </section>
<% end %>
