<%= render Pages::Header.new(title: "Snippet") %>
<div class="section-content container py-gap">
  <%= render CodeBlock::Snippet.new(@snippet) %>

  <div>
    <%= link_to "Edit this snippet", edit_share_snippet_path(@snippet) %> |
    <%= link_to "Screenshot", share_snippet_screenshot_path(@snippet) %> |
    <%= link_to "Back to snippets", share_snippets_path %>

    <%= button_to "Destroy this snippet", share_snippet_path(@snippet), method: :delete %>
  </div>
</div>
