<%= render Pages::Header.new(title: "Snippet #{@snippet.filename}".strip) %>
<div class="section-content container py-gap">
  <%= render CodeBlock::Snippet.new(@snippet) %>

  <%= image_tag @snippet.screenshot if @snippet.screenshot.attached? %>

  <div>
    <%= link_to "Edit this snippet", edit_share_snippet_path(@snippet) %> |
    <%= link_to "Back to snippets", share_snippets_path %>

    <%= button_to "Destroy this snippet", share_snippet_path(@snippet), method: :delete %>
  </div>
</div>
