<% set_meta_tags(
  title: "Joy of Rails Snippet#{@snippet.title.presence && ": " + @snippet.title}",
  description: "A code snippet from Joy of Rails",
  keywords: [@snippet.language].compact,
  og: {
    image: @snippet.screenshot.attached? && rails_storage_proxy_url(@snippet.screenshot)
  },
  twitter: {
    card: @snippet.screenshot.attached? ? "summary_large_image" : "summary",
  }
) %>

<%= render Pages::Header.new(title: "Snippet Share") %>
<div class="section-content container py-gap">
  <%= turbo_frame_tag :snippet_form, data: {turbo_action: "advance"} do %>
    <%= render CodeBlock::Snippet.new(@snippet) %>
  <% end %>

  <%= render Share::Snippets::Toolbar.new(@snippet, current_user: current_user) %>

  <div>
    <%= link_to "Back to snippets", share_snippets_path %>
  </div>
</div>
