<%= tag.header aria: { label: "header" } do %>
  <div class="site-header">
    <nav class="">
      <%= link_to root_path, class: "logo" do %>
        <%= inline_svg_tag "joy-logo.svg", class: "fill-current", style: "max-width: 32px;" %>
        <span>Joy of Rails</span>
      <% end %>
    </nav>
    <%= turbo_frame_tag :header_navigation, src: users_header_navigation_path, target: :_top do %>
      <%= render partial: "application/header/nav", layout: "layouts/header/nav" %>
    <% end %>
  </div>
<% end %>
