<footer>
  <div class="footer-content py-xl lg:py-3xl">
    <%= link_to root_path, class: "logo" do %>
      <div><%= inline_svg_tag "joy-logo.svg", class: "fill-current" %></div>
      <div>Sharing and experiencing the Joy of Rails</div>
    <% end %>
    <nav>
      <ul>
        <li>
          <a href="/">Learn</a>
        </li>
        <li>
          <ul>
            <li>
              <a href="/articles">Articles</a>
            </li>
            <li>
              <%= link_to "Snippets", share_snippets_path %>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <%= link_to "Settings", "/settings" %>
        </li>
        <li>
          <ul>
            <li>
              <%= link_to "Color Schemes", settings_color_scheme_path %>
            </li>
            <li>
              <%= link_to "Syntax Highlight", settings_syntax_highlight_path %>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <ul>
            <li>
              <a class="" href="/about/acknowledgements">Acknowledgements</a>
            </li>
            <li>
              <a class="" href="/about/design">Design</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          Say Hello
        </li>
        <li>
          <ul>
            <li>
              <a href="mailto:hello@joyofrails.com">hello@joyofrails.com</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          Made with <strong>joy</strong> by <a href="https://rossta.net" target="_blank" rel="noopener noreferrer">@rossta</a>
        </li>
        <li>
          <ul>
            <li>
              <a href="https://x.com/rossta" target="_blank" rel="noopener noreferrer">twitter</a>
            </li>
            <li>
              <a href="https://ruby.social/@rossta" target="_blank" rel="noopener noreferrer">ruby.social</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/rosskaffenberger/" target="_blank" rel="noopener noreferrer">linked</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div>
      <small class="">
        <span>©2023-<%= Date.today.year %> joyofrails. All rights reserved.</span>
        <%# <a class="" href="/terms">Terms &amp; Conditions</a>
        <a class="" href="/privacy">Privacy Policy</a>
        <a class="" href="/faq">FAQ</a> %>
      </small>
    </div>
  </div>
</footer>
