<footer>
  <div class="footer-content py-xl lg:py-3xl">
    <%= link_to root_path, class: "logo" do %>
      <div><%= inline_svg_tag "joy-logo.svg", class: "fill-current" %></div>
      <div>Sharing and experiencing the Joy of Rails</div>
    <% end %>
    <nav>
      <ul>
        <li>
          <a href="/">Learn</a>
        </li>
        <li>
          <ul>
            <li>
              <a href="/articles">Articles</a>
            </li>
            <li>
              <%= link_to "Topics", topics_path %>
            </li>
            <li>
              <%= link_to "Snippets", share_snippets_path %>
            </li>
            <li>
              <%= link_to "Feed", feed_index_path %>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <%= link_to "Settings", "/settings" %>
        </li>
        <li>
          <ul>
            <li>
              <%= link_to "Color Schemes", settings_color_scheme_path %>
            </li>
            <li>
              <%= link_to "Syntax Highlight", settings_syntax_highlight_path %>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <ul>
            <li>
              <a class="" href="/about/acknowledgements" title="Built on the Shoulders of Giants">Acknowledgements</a>
            </li>
            <li>
              <a class="" href="/about/design" title="Inspiration for the Site Design">Design</a>
            </li>
            <li>
              <a class="" href="/meta" title="How Joy of Rails is Built">Meta</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          Made with <strong>joy</strong> by <a href="/about/me">Ross Kaffenberger</a>
        </li>
      </ul>
    </nav>
    <div>
      <small>
        <span>©<%= Date.today.year %> joyofrails. All rights reserved.</span>
        &nbsp;&middot;&nbsp;
        <a href="mailto:hello@joyofrails.com">hello@joyofrails.com</a>
      </small>
    </div>
  </div>
</footer>
