<%= render "application/skip_to_content" %>
<%= render_layout "redesign" do %>
  <article>
    <header class="page-header">
      <div class="container header-content">
        <h1>
          <%= current_page.data.title! %>
        </h1>
        <p class="description"><%= current_page.data.description %></p>
        <span class="block">
          <%= time_tag current_page.data.published.to_date %>
          <%# <time datetime="2024-03-13T00:00:00Z" itemprop="datePublished" class="dt-published">
            March 13th, 2024
          </time> %>
        </span>
      </div>
    </header>
    <%- if current_page.data.toc -%>
      <aside>
        <h2 class="font-semibold mb-4 text-sm leading-6 uppercase tracking-widest">Table of Contents</h2>
        <!-- Disable Turbolinks for same-page Table of Contents navigation
        -->
        <nav
          data-controller="table-of-contents"
          data-turbo="false"
          class="toc">
          <%= render_toc(current_page) %>
        </nav>
      </aside>
    <%- end -%>
    <div class="article-content container">
      <%= yield %>
    </div>
  </article>
  <section class="container mt-16">
    <%= render "newsletter/banner" %>
  </section>
<% end %>
