<!DOCTYPE html>
<html class="motion-safe:scroll-smooth" data-joy-theme="dracula">
  <head>
    <title>Joy of Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render "application/google_fonts" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= unless ViteRuby.instance.dev_server_running?
      vite_stylesheet_tag "application", media: "all", "data-turbo-track": "reload"
    end %>
    <%= vite_javascript_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= render "darkmode/setup" %>
  </head>
  <%= tag.body class: body_classes do %>
    <%= yield :top %>
    <%= render "header" %>
    <main
      class="
        w-full flex flex-col flex-grow
        mx-auto mb-96
      "
    >
      <%= yield %>
    </main>
    <%= render "footer" %>
  <% end %>
</html>
