<!DOCTYPE html>
<html class="motion-safe:scroll-smooth" data-joy-accent="pink" data-joy-gray="slate">
  <head>
    <title>Joy of Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= unless ViteRuby.instance.dev_server_running?
      vite_stylesheet_tag "application", media: "all", "data-turbo-track": "reload"
    end %>
    <%= vite_javascript_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= render "darkmode/setup" %>
  </head>
  <body
    class="
      antialiased
      bg-background text-gray-text
      print:hidden
    "
  >
    <%= yield :top %>
    <%= render "header" %>
    <main
      class="
        mx-auto w-full flex flex-col flex-grow
        bg-background
        mb-96 overflow-x-hidden
      "
    >
      <%= yield %>
    </main>
    <%= render "footer" %>
  </body>
</html>
