<!DOCTYPE html>
<html class="motion-safe:scroll-smooth" data-joy-theme="dracula">
  <head>
    <title>Joy of Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= render "application/google_fonts" %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "application/config" %>
    <%= render "darkmode/setup" %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application.css", media: "all", "data-turbo-track": "reload" %>
    <%= vite_javascript_tag "application.js", media: "all", "data-turbo-track": "reload" %>
    <script type="text/javascript" defer data-domain="joyofrails.com" src="https://plausible.io/js/script.tagged-events.outbound-links.js"></script>
    <script type="text/javascript">window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </head>
  <%= tag.body class: body_classes do %>
    <%= yield :top %>
    <%= render "header" %>
    <div class="flash"><%= render "flash" %></div>
    <main
      class="
        w-full flex flex-col flex-grow
        mx-auto min-h-[50vh]
      ">
      <%= yield %>
    </main>
    <%= render "footer" %>
  <% end %>
</html>
