<!DOCTYPE html>
<html class="motion-safe:scroll-smooth">
  <head>
    <!--
      Joy of Rails uses the meta-tags gem for generatoring SEO-friendly meta tags
      https://github.com/kpumuk/meta-tags

      Favicon links based on the Evil Martians article: "How to Favicon in 2024: Six files that fit most needs"
      https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
    -->
    <%= seo_meta_tags %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Joy of Rails uses 'Russo One' from Google Fonts for its logo -->
    <%= render "application/google_fonts" %>

    <!--
      Joy of Rails is a Progressive Web App. The manifest.json makes it possible
      to add 'Joy of Rails' to your home screen with supporting browsers/devices.
    -->
    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "application/analytics" %>
    <%= render "application/config" %>
    <%= render "application/theme/color" unless Rails.env.wasm? %>
    <%= render "application/theme/code" %>
    <%= render "darkmode/setup" %>

    <!--
    Joy of Rails used Vite Ruby to manage assets. Vite Ruby’s tagline is "Bringing joy to your frontend experience."
    which means it is a perfect fit for this project :)
    -->
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application.css", media: "all", "data-turbo-track": "reload" %>
    <%= vite_javascript_tag "application.js", media: "all", "data-turbo-track": "reload" %>

    <%= auto_discovery_link_tag(:rss, feed_index_url, {title: "joyofrails.com"}) %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield :top %>
    <%= render "application/header" %>
    <main class="">
      <div id="start-here"></div>
      <div class="flash"><%= render "flash" %></div>
      <%= yield %>
    </main>
    <%= render "application/footer" %>
  </body>
</html>
