<!DOCTYPE html>
<html class="motion-safe:scroll-smooth">
  <head>
    <title>Joy of Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= vite_client_tag %>
    <%= unless ViteRuby.instance.dev_server_running?
      vite_stylesheet_tag "application", media: "all", "data-turbo-track": "reload"
    end %>
    <%= vite_javascript_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= render "darkmode/setup" %>
  </head>
  <body
    class="
      antialiased bg-theme-bg
      dark:bg-theme-bg dark:border-gray-800 print:hidden dark:text-white
      text-gray-1000
    "
  >
    <%= yield :top %>
    <%= render "header" %>
    <main
      class="
        mx-auto w-full flex flex-col flex-grow
        dark:bg-theme-bg dark:text-white
        text-gray-1000 mb-96
      "
    >
      <%= yield %>
    </main>
    <%= render "footer" %>
  </body>
</html>
