<%= form_with model: @user, url: users_registration_path, class: "space-y-6" do |form| %>
  <div>
    <%= form.label :email, "Current email address" %>
    <%= form.email_field :email, autocomplete: "email", disabled: true %>
  </div>
  <div>
    <%= form.fields_for :email_exchanges do |email_form| %>
      <%= email_form.label :email, "Change email address" %>
      <%= email_form.email_field :email, autocomplete: "email", required: false %>
    <% end %>
  </div>
  <div><%= form.button "Update account" %></div>
<% end %>
